/* product page css */
.img-up .file_img {
  position: relative;
  width: 25%;
  height: 100px;
  cursor: pointer;
}

/* First image to be a bit bigger */
.img-up .file_img:nth-of-type(1) {
  width: 100%;
  height: 370px;
}

/* First image to be a bit bigger */
.img-up .file_img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.img-up .file_img span {
  position: absolute;
  top: -1px;
  right: 2px;
  z-index: 4;
  background: #b82ec1;
  color: white;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bolder;
  border: 1px solid #b72ec1;
}
